certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
Deprecated==1.2.13
Flask==1.1.2
Flask-Cors==3.0.10
Flask-HTTPAuth==4.4.0
Flask-Script==2.0.6
idna==3.2
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
minio==7.1.0
mprop==0.16.0
numpy==1.21.2
opencv-python==4.5.3.56
pika==1.2.0
pyarrow==5.0.0
pymongo==3.12.0
redispy==3.0.0
requests==2.26.0
six==1.16.0
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0

-f https://megengine.org.cn/whl/mge.html
MegEngine==1.4.0

